<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="退出">
        </form>
        <div>
            <h3 th:text="'current login for ' + ${name}"></h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            Hello <span sec:authentication="name"></span>
        </div>
        <span sec:authorize-url="/auth/mem/user">
            <a th:href="@{/auth/mem/user}">user-url</a>
        </span>
        <span sec:authorize-url="/auth/mem/admin">
            <a th:href="@{/auth/mem/admin}">admin-url</a>
        </span>
        <span sec:authorize-url="/auth/mem/manager">
            <a th:href="@{/auth/mem/manager}">manager-url</a>
        </span>
    </body>
</html>